<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtLQN6aT55-evukkQqRhHTklERgUsQQSw</string>
	<key>GCM_SENDER_ID</key>
	<string>453363243064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.virtualQueue</string>
	<key>PROJECT_ID</key>
	<string>virtual-queue-database</string>
	<key>STORAGE_BUCKET</key>
	<string>virtual-queue-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453363243064:ios:d87d6b2d4aa7939b0c6ecd</string>
	<key>DATABASE_URL</key>
	<string>https://virtual-queue-database-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>